<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="Domain" value="pai"/>
    <add key="Username" value="pailibrary"/>
    <!--<add key="Password" value="!Tenace3Picinae"/>-->
    <add key="Password" value="Soaper3!Fewsome"/>
    <add key="LibUserLogs" value="\\pai_server\Public\library\UserLogs\"/>
    <add key="LibPath" value="\\pai_server\Public\library\"/>
    <add key="LibPathTemp" value="\\pai_server\Public\library\temp\"/>
    <add key="OffLine" value="0"/>
    <add key="SortOrder" value="ORDER BY DateStamp DESC, [VERSION] DESC"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="conLib2USE" connectionString="Server=dbServer1;Database=PAILibraryCI;User ID=paiuser;Password=u84jKum;          Persist Security Info=True;Async=true;Application Name=PAILibrary;" providerName="System.Data.SqlClient"/>
    <add name="conLib" connectionString="Server=dbServer1;Database=PAILibraryCI;User ID=PAILibUser;Password=Lu$443!;          Persist Security Info=True;Async=true;Application Name=PAILibrary;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Windows"/>
    <!--<identity impersonate="true" />-->
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="20480"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>