-- ***** DROPS *****
ALTER TABLE [DL_Docs] DROP CONSTRAINT [DF_DL_Docs_RecordDate]
GO
ALTER TABLE [QBEWebProvidersAudit] DROP CONSTRAINT [DF_QBEWebProvidersAudit_AuditDate]
GO
DROP PROCEDURE [usp_DL_CheckAdminUser]
GO
DROP PROCEDURE [usp_DL_CheckCodeForDocuments]
GO
DROP PROCEDURE [usp_DL_CheckDocCode]
GO
DROP PROCEDURE [usp_DL_DeleteCode]
GO
DROP PROCEDURE [usp_DL_DeleteSecurityCode]
GO
DROP PROCEDURE [usp_DL_Get063DocsForPublish]
GO
DROP PROCEDURE [usp_DL_Get063DocsForPublish_WithDate]
GO
DROP PROCEDURE [usp_DL_GetDocCodes]
GO
DROP PROCEDURE [usp_DL_GetFilename]
GO
DROP PROCEDURE [usp_DL_GetLatestMissedDocsFull]
GO
DROP PROCEDURE [usp_DL_GetNotes]
GO
DROP PROCEDURE [usp_DL_GetPlanDocsAdded24Hours]
GO
DROP PROCEDURE [usp_DL_GetPlanDocsAdded30Days]
GO
DROP PROCEDURE [usp_DL_GetPlanDocsLast24Hours]
GO
DROP PROCEDURE [usp_DL_InsertAudit]
GO
DROP PROCEDURE [usp_DL_InsertDoc]
GO
DROP PROCEDURE [usp_DL_InsertDocType]
GO
DROP PROCEDURE [usp_DL_InsertSecurityCode]
GO
DROP PROCEDURE [usp_DL_RPT_MissedDocs]
GO
DROP PROCEDURE [usp_DL_RPT_Published]
GO
DROP PROCEDURE [usp_DL_RPT_TodaysDocs]
GO
DROP PROCEDURE [usp_DL_UpdateNotes]
GO
DROP PROCEDURE [usp_DL_SearchAudit]
GO
DROP TABLE [DL_Admins]
GO
DROP TABLE [DL_Audit]
GO
DROP TABLE [DL_Codes]
GO
DROP TABLE [DL_Docs]
GO
DROP TABLE [DL_Security]
GO
DROP TABLE [QBEWebProvidersAudit]
GO
DROP FUNCTION [uf_DL_GetGroupFromAuditNote]
GO
DROP FUNCTION [uf_DL_GetPlanFromAuditNote]
GO

-- ***** Functions *****
-- =============================================================================
-- Author: James Drabb
-- Date: 03/12/2013
--
-- Gets the plan number from an audit note field
-- =============================================================================
CREATE FUNCTION [uf_DL_GetPlanFromAuditNote]
(
	@note NVARCHAR(255)
)
RETURNS NVARCHAR(55)
AS
BEGIN
	RETURN REPLACE(SUBSTRING(@note, CHARINDEX('Plan=', @note, 0), 500), 'Plan=', '')
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 03/12/2013
--
-- Gets the group number from an audit note field
-- =============================================================================
CREATE FUNCTION [uf_DL_GetGroupFromAuditNote]
(
	@note NVARCHAR(255)
)
RETURNS NVARCHAR(55)
AS
BEGIN
	DECLARE @pos1 INT
	DECLARE @pos2 INT
	
	set @pos1 = CHARINDEX('Group=', @note, 0)
	set @pos2 = CHARINDEX(',', @note, @pos1)
	
	-- Return the result of the function
	RETURN REPLACE(SUBSTRING(@note, @pos1, @pos2 - @pos1), 'Group=', '')
END
GO

-- ***** TABLES *****
CREATE TABLE [QBEWebProvidersAudit](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[AuditDate] [datetime] NOT NULL,
	[MemID] [varchar](10) NULL,
	[Last4] [char](4) NULL,
	[BDate] [int] NULL,
	[IP] [varchar](15) NULL,
	[Notes] [varchar](1024) NULL,
	CONSTRAINT [PK_QBEWebProvidersAudit] PRIMARY KEY CLUSTERED 
	(
		[AuditID] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [DL_Security](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	CONSTRAINT [PK_DL_Security] PRIMARY KEY CLUSTERED 
	(
		[SID] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [DL_Docs](
	[DocID] [int] IDENTITY(1,1) NOT NULL,
	[GroupNo] [varchar](10) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[DateStamp] [varchar](8) NOT NULL,
	[VERSION] [varchar](10) NOT NULL,
	[FullDesc] [varchar](200) NOT NULL,
	[Ext] [varchar](10) NOT NULL,
	[FileName] [varchar](255) NULL,
	[FileDate] [varchar](12) NULL,
	[Notes] [text] NULL,
	[RecordDate] [datetime] NULL,
	CONSTRAINT [PK_DL_Docs] PRIMARY KEY CLUSTERED 
	(
		[DocID] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DL_Docs__Code_Date] ON [DL_Docs] 
(
	[Code] ASC,
	[DateStamp] ASC,
	[RecordDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

CREATE TABLE [DL_Codes](
	[Code] [varchar](10) NOT NULL,
	[DocType] [varchar](255) NOT NULL,
	CONSTRAINT [PK_DL_Codes] PRIMARY KEY CLUSTERED 
	(
		[Code] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [DL_Audit](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[ExternID] [varchar](50) NULL,
	[ExternName] [varchar](50) NOT NULL,
	[OldValue] [varchar](500) NULL,
	[NewValue] [varchar](500) NULL,
	[UserID] [varchar](50) NOT NULL,
	[AuditDate] [datetime] NOT NULL,
	[AuditNote] [varchar](500) NULL,
	CONSTRAINT [PK_DL_Audit] PRIMARY KEY CLUSTERED 
	(
		[AID] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [DL_Admins](
	[UserID] [varchar](50) NOT NULL,
	CONSTRAINT [PK_DL_Admins] PRIMARY KEY CLUSTERED 
	(
		[UserID] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

-- ***** PROCEDURES *****
-- =============================================================================
-- Author: James Drabb
-- Date: 06/20/2013
--
-- Runs a search against the DL_Audit table
-- =============================================================================
CREATE PROCEDURE [usp_DL_SearchAudit]
	@GroupCode varchar(50) = '',
	@txtSearch varchar(500) = '',
	@UserID varchar(50) = '',
	@AuditDate DATE = NULL
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @sql varchar(4000)
	
	IF (@GroupCode = '') AND (@txtSearch = '') AND (@UserID = '') AND (@AuditDate IS NULL)
	BEGIN
		SET @sql = 'SELECT AID, OldValue, NewValue, UserID, AuditDate, AuditNote FROM DL_Audit WHERE AID=999999999'
	END
	ELSE
	BEGIN
		SET @sql = 'SELECT AID, OldValue, NewValue, UserID, AuditDate, AuditNote FROM DL_Audit WHERE ExternName = ''DL_Docs'' '
		
		-- add user id to the search if requested
		IF ISNULL(@UserID, '') <> '' 
			SET @sql = @sql + ' AND UserID = ''' + @UserID + ''''
		
		-- add date of audit item if requested
		IF (@AuditDate IS NOT NULL) AND (@AuditDate <> '1900-01-01')
			SET @sql = @sql + ' AND CAST(AuditDate AS DATE) = ''' + CAST(@AuditDate AS VARCHAR) + ''''
		
		-- both group/code combo and free text
		IF ISNULL(@GroupCode, '') <> '' AND ISNULL(@txtSearch, '') <> ''
		BEGIN
			SET @sql = @sql + ' AND (OldValue LIKE ''%' + @GroupCode + '%'' OR NewValue LIKE ''%' + @GroupCode
			SET @sql = @sql + '%'' OR OldValue LIKE ''%' + @txtSearch + '%'' OR NewValue LIKE ''%' + @txtSearch + '%'')'
		END
		-- just the group/code combo
		ELSE IF ISNULL(@GroupCode, '') <> ''
		BEGIN
			SET @sql = @sql + ' AND (OldValue LIKE ''%' + @GroupCode + '%'' OR NewValue LIKE ''%' + @GroupCode + '%'')'
		END
		-- just free search text
		ELSE IF ISNULL(@txtSearch, '') <> ''
		BEGIN
			SET @sql = @sql + ' AND (OldValue LIKE ''%' + @txtSearch + '%'' OR NewValue LIKE ''%' + @txtSearch + '%'')'
		END
	END
	
	EXEC (@sql)
--	PRINT @sql
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 06/28/2012
--
-- Updates the Note field in DL_Docs based on the DocID.
-- =============================================================================
Create PROCEDURE [usp_DL_UpdateNotes]
	@DocID VARCHAR(10),
	@Notes text
AS
	SET NOCOUNT ON
	
	UPDATE DL_Docs SET Notes = @Notes WHERE DocID = @DocID
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 03/05/2013
--
-- Get all plan documents added within the last 24 hours
-- =============================================================================
CREATE PROCEDURE [usp_DL_RPT_TodaysDocs]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		NewValue, UserID, AuditDate, AuditNote
	FROM
		DL_Audit
	WHERE
		ExternName = 'DL_Docs'
	AND
		AuditDate >= DATEADD(day, -1, GETDATE())
	AND
		NewValue LIKE '%-063-%'
	AND
		UserID <> 'jdrabb'
	ORDER BY
		AuditDate
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 02/13/2013
--
-- Get all documents added today for code 063 that need to be converted to PDF
-- for QicLink Benefits Lookup (old VeriFax).
-- =============================================================================
CREATE PROCEDURE [usp_DL_RPT_Published]
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @tomorrow NVARCHAR(15)
	DECLARE @today NVARCHAR(15)

	SET @today = CONVERT(DATE, GETDATE(), 126)
	SET @tomorrow = CONVERT(DATE, DATEADD(day, 1, GETDATE()), 126)

	;with qry AS
	(
		SELECT
			[GroupNo],
			[DateStamp],
			[FullDesc],
			[FileName],
			ROW_NUMBER() OVER (
				PARTITION BY GroupNo, Code, DateStamp, FullDesc ORDER BY [VERSION] DESC
			) AS [row]
		FROM DL_Docs
		WHERE Code = '063'
		AND
		(
			(DateStamp <= REPLACE(@today, '-', '') AND CAST(RecordDate AS DATE) = @today)
			OR
			(DateStamp = REPLACE(@tomorrow, '-', ''))
		)
		AND Ext = 'rtf'
	)
	SELECT [GroupNo], [DateStamp], [FullDesc], [FileName] FROM qry WHERE row = 1
END
GO

-- =============================================================================
-- Author:		James Drabb
-- Create date: 01/31/2013
-- Description:	Selects the latest missed documents.
-- =============================================================================
CREATE PROCEDURE [usp_DL_RPT_MissedDocs]
	@Days INT = 1
AS
BEGIN
	SELECT
		DISTINCT MemID, Last4,
		SUBSTRING(CAST(BDate AS VARCHAR), 5, 2) + '/'
		+ SUBSTRING(CAST(BDate AS VARCHAR), 7, 2) + '/'
		+ SUBSTRING(CAST(BDate AS VARCHAR), 1, 4) AS [BDate],
		dbo.uf_DL_GetGroupFromAuditNote(Notes) AS [Group],
		dbo.uf_DL_GetPlanFromAuditNote(Notes) AS [Plan]
	FROM
		PAIMaster.dbo.QBEWebProvidersAudit
	WHERE
		Notes <> 'Lookup'
	AND
		IP NOT LIKE '192.%'
	AND
		MemID IS NOT NULL
	AND
		AuditDate > DATEADD(DAY, (ABS(@Days) * -1), CAST(GETDATE() AS DATE))
	ORDER BY
		[Group]
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 07/02/2012
--
-- Insert an new entry in DL_Security.
--
-- This procedure checks that if a specific UID is inserted, security to ALL
-- is removed.
-- =============================================================================
CREATE PROCEDURE [usp_DL_InsertSecurityCode]
	@Code VARCHAR(5),
	@UserID VARCHAR(50),
	@SID INT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	
	-- Make sure we remove the default 'ALL' access since we entered a specific UID
	IF (SELECT Code FROM DL_Security WHERE Code = @Code AND UserID = 'ALL') IS NOT NULL
	BEGIN
		DELETE DL_Security WHERE Code = @Code AND UserID = 'ALL'
	END
	
	IF (SELECT Code FROM DL_Security WHERE Code = @Code AND UserID = @UserID) IS NULL
	BEGIN
		INSERT INTO DL_Security (Code, UserID) VALUES ( @Code, @UserID )
		-- get the identity
		SELECT @SID = @@IDENTITY
	END
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 06/28/2012
--
-- Select the FileName from DL_Docs based on the DocID.
--
-- This is used for sending the document from the Library to the user.
-- =============================================================================
CREATE PROCEDURE [usp_DL_InsertDocType]
	@Code VARCHAR(5),
	@DocType VARCHAR(255)
AS
BEGIN
	SET NOCOUNT ON;
	
	INSERT INTO DL_Codes VALUES (@Code, @DocType)
	
	-- make sure we have security access for either explicit users
	-- or ALL.
	IF (SELECT DISTINCT Code FROM DL_Security WHERE Code = @Code) IS NULL
	BEGIN
		INSERT INTO DL_Security (Code, UserID) VALUES (@Code, 'ALL')
	END
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 07/02/2012
--
-- Insert an new entry in DL_Docs
-- =============================================================================
CREATE PROCEDURE [usp_DL_InsertDoc]
	@GroupNo VARCHAR(10),
	@Code VARCHAR(10),
	@DateStamp VARCHAR(8),
	@Version VARCHAR(10),
	@FullDesc VARCHAR(200),
	@Ext VARCHAR(10),
	@FileName VARCHAR(255),
	@FileDate VARCHAR(12),
	@DocID INT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	
	-- remove '.' if it exists in the file extension
	SET @Ext = REPLACE(@Ext, '.', '')
	
	INSERT INTO DL_Docs 
	(
		[GroupNo], [Code], [DateStamp], [Version], [FullDesc],
		[Ext], [FileName], [FileDate], [Notes]
	)
	VALUES
	(
		@GroupNo, @Code, @DateStamp, @Version, @FullDesc,
		@Ext, @FileName, @FileDate, NULL
	)
	
	-- get the identity DocID
	SELECT @DocID = @@IDENTITY
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 08/23/2012
--
-- Inserts an audit record into DL_Audit
-- =============================================================================
Create PROCEDURE [usp_DL_InsertAudit]
	@externID VARCHAR(50),
	@externName VARCHAR(50),
	@oldValue VARCHAR(500),
	@newValue VARCHAR(500),
	@userID VARCHAR(50),
	@auditNote VARCHAR(500)
AS
BEGIN
	SET NOCOUNT ON;
	
	IF RTRIM(@externID) = ''
		SET @externID = NULL
	IF RTRIM(@oldValue) = ''
		SET @oldValue = NULL
	IF RTRIM(@newValue) = ''
		SET @newValue = NULL
	IF RTRIM(@auditNote) = ''
		SET @auditNote = NULL
	
	INSERT INTO DL_Audit
		(ExternID, ExternName, OldValue, NewValue, UserID, AuditDate, AuditNote)
	VALUES
		( @externID, @externName, @oldValue, @newValue, @userID, GETDATE(), @auditNote)
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 03/05/2013
--
-- Get all plan documents added within the last 24 hours
-- =============================================================================
CREATE PROCEDURE [usp_DL_GetPlanDocsLast24Hours]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		AID, ExternID, ExternName, NewValue, UserID, AuditDate, AuditNote
	FROM
		DL_Audit
	WHERE
		ExternName = 'DL_Docs'
	AND
		AuditDate >= DATEADD(day, -1, GETDATE())
	AND
		NewValue LIKE '%-063-%'
	AND
		UserID <> 'jdrabb'
	ORDER BY
		AuditDate
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 03/05/2013
--
-- Get all plan documents added within the last 30 days
-- =============================================================================
CREATE PROCEDURE [usp_DL_GetPlanDocsAdded30Days]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		AID, ExternID, ExternName, NewValue, UserID, AuditDate, AuditNote
	FROM
		DL_Audit
	WHERE
		ExternName = 'DL_Docs'
	AND
		AuditNote = 'Added'
	AND
		AuditDate >= DATEADD(day, -30, GETDATE())
	AND
		NewValue LIKE '%-063-%'
	AND
		UserID <> 'jdrabb'
	ORDER BY
		AuditDate
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 03/05/2013
--
-- Get all plan documents added within the last 24 hours
-- =============================================================================
CREATE PROCEDURE [usp_DL_GetPlanDocsAdded24Hours]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		AID, ExternID, ExternName, NewValue, UserID, AuditDate, AuditNote
	FROM
		DL_Audit
	WHERE
		ExternName = 'DL_Docs'
--	AND
--		AuditNote = 'Added'
	AND
		AuditDate >= DATEADD(day, -1, GETDATE())
	AND
		NewValue LIKE '%-063-%'
	AND
		UserID <> 'jdrabb'
	ORDER BY
		AuditDate
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 06/28/2012
--
-- Select the Notes from DL_Docs based on the DocID.
-- =============================================================================
create PROCEDURE [usp_DL_GetNotes]
	@DocID VARCHAR(10)
AS
	SET NOCOUNT ON
	
	SELECT Notes FROM DL_Docs WHERE DocID = @DocID
GO

-- =============================================================================
-- Author:		James Drabb
-- Create date: 01/31/2013
-- Description:	Selects the latest missed documents.
-- =============================================================================
CREATE PROCEDURE [usp_DL_GetLatestMissedDocsFull]
	@Days INT = 1
AS
BEGIN
	SELECT
		DISTINCT MemID, Last4,
		SUBSTRING(CAST(BDate AS VARCHAR), 5, 2) + '/'
		+ SUBSTRING(CAST(BDate AS VARCHAR), 7, 2) + '/'
		+ SUBSTRING(CAST(BDate AS VARCHAR), 1, 4) AS [BDate],
		dbo.uf_DL_GetGroupFromAuditNote(Notes) AS [Group],
		dbo.uf_DL_GetPlanFromAuditNote(Notes) AS [Plan]
	FROM
		PAIMaster.dbo.QBEWebProvidersAudit
	WHERE
		Notes <> 'Lookup'
	AND
		IP NOT LIKE '192.%'
	AND
		MemID IS NOT NULL
	AND
		AuditDate > DATEADD(DAY, (ABS(@Days) * -1), CAST(GETDATE() AS DATE))
	ORDER BY
		[Group]
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 06/28/2012
--
-- Select the FileName from DL_Docs based on the DocID.
--
-- This is used for sending the document from the Library to the user.
-- =============================================================================
Create PROCEDURE [usp_DL_GetFilename]
	@DocID VARCHAR(10)
AS
	SET NOCOUNT ON
	
	SELECT [FileName] FROM DL_Docs WHERE DocID = @DocID
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 07/02/2012
--
-- Returns all the rows from DL_Codes
-- =============================================================================
Create PROCEDURE [usp_DL_GetDocCodes]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT * FROM DL_Codes
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 02/13/2013
--
-- Get all documents added today for code 063 that need to be converted to PDF
-- for QicLink Benefits Lookup (old VeriFax).
-- =============================================================================
CREATE PROCEDURE [dbo].[usp_DL_Get063DocsForPublish]
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @theDate DATE = null
	DECLARE @today VARCHAR(15)
	DECLARE @tomorrow VARCHAR(15)
	
	SET @theDate = GETDATE()
	SET @today = REPLACE(CONVERT(varchar, @theDate, 112), '-', '')
	SET @tomorrow = REPLACE(CONVERT(varchar, DATEADD(day, 1, @theDate), 112), '-', '')
	
	;with qry AS
	(
		SELECT
			[DocID],
			[Code],
			[GroupNo],
			[DateStamp],
			[FullDesc],
			[FileName],
			[RecordDate],
			ROW_NUMBER() OVER (
				PARTITION BY GroupNo, Code, DateStamp, FullDesc ORDER BY [VERSION] DESC
			) AS [row]
		FROM DL_Docs
		WHERE Code = '063'
		AND
		(
			(DateStamp <= @today AND RecordDate >= CONVERT(DATE, @theDate, 110))
			OR
			(DateStamp = @tomorrow)
		)
		AND Ext = 'rtf'
	)
	SELECT row, [DocID], [Code], [GroupNo], [DateStamp], [RecordDate], [FullDesc], [FileName] FROM qry WHERE row = 1
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 02/13/2013
--
-- Get all documents added today for code 063 that need to be converted to PDF
-- for QicLink Benefits Lookup (old VeriFax).
-- =============================================================================
ALTER PROCEDURE [dbo].[usp_DL_Get063DocsForPublish_WithDate]
	@theDate DATE = null
AS
BEGIN
	SET NOCOUNT ON;
	
	IF @theDate IS NULL
	BEGIN
		SET @theDate = GETDATE()
	END
	
	DECLARE @today VARCHAR(15)
	DECLARE @tomorrow VARCHAR(15)
	
	SET @today = REPLACE(CONVERT(varchar, @theDate, 112), '-', '')
	SET @tomorrow = REPLACE(CONVERT(varchar, DATEADD(day, 1, @theDate), 112), '-', '')
	
	;with qry AS
	(
		SELECT
			[DocID],
			[Code],
			[GroupNo],
			[DateStamp],
			[FullDesc],
			[FileName],
			[RecordDate],
			ROW_NUMBER() OVER (
				PARTITION BY GroupNo, Code, DateStamp, FullDesc ORDER BY [VERSION] DESC
			) AS [row]
		FROM DL_Docs
		WHERE Code = '063'
		AND
		(
			(DateStamp <= @today AND RecordDate >= CONVERT(DATE, @theDate, 110))
			OR
			(DateStamp = @tomorrow)
		)
		AND Ext = 'rtf'
	)
	SELECT row, [DocID], [Code], [GroupNo], [DateStamp], [RecordDate], [FullDesc], [FileName] FROM qry WHERE row = 1
END
GO


-- =============================================================================
-- Author: James Drabb
-- Date: 07/02/2012
--
-- Deletes a security code from DL_Security.
--
-- This procedure checks that if a specific Code is deleted, security to ALL
-- is added if there is no specific user access.
-- =============================================================================
CREATE PROCEDURE [usp_DL_DeleteSecurityCode]
	@SID INT
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @Code VARCHAR(10)
	
	-- save the code incase we need to add an 'ALL' record later
	SELECT @Code = Code FROM DL_Security WHERE [SID] = @SID
	IF @Code IS NOT NULL
	BEGIN
		DELETE DL_Security WHERE [SID] = @SID
	END
	
	-- Make sure we ADD the default 'ALL' access since we deleted a specific UID
	IF (SELECT DISTINCT Code FROM DL_Codes WHERE Code = @Code) IS NOT NULL
		AND (SELECT DISTINCT Code From DL_Security WHERE Code = @Code) IS NULL
	BEGIN
		INSERT INTO DL_Security VALUES ( @Code, 'ALL' )
	END
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 07/02/2012
--
-- Deletes a code from DL_Codes.
--
-- This procedure checks that if a specific Code is deleted, all security
-- records are deleted from DL_Security.
-- =============================================================================
Create PROCEDURE [usp_DL_DeleteCode]
	@Code VARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;
	
	IF (SELECT Code FROM DL_Codes WHERE Code = @Code) IS NOT NULL
	BEGIN
		DELETE DL_Codes WHERE Code = @Code
	END
	
	-- Make sure DEL all records that have this Code in DL_Security
	IF (SELECT DISTINCT Code FROM DL_Security WHERE Code = @Code) IS NOT NULL
	BEGIN
		DELETE DL_Security WHERE Code = @Code
	END
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 07/02/2012
--
-- Checks if a document code is in use in DL_Docs
-- =============================================================================
CREATE PROCEDURE [usp_DL_CheckDocCode]
	@Code VARCHAR(5)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT DISTINCT Code FROM DL_Codes WHERE Code=@Code
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 07/02/2012
--
-- Checks if a document code is in use in DL_Docs
-- =============================================================================
CREATE PROCEDURE [usp_DL_CheckCodeForDocuments]
	@Code VARCHAR(5)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT DISTINCT Code FROM DL_Docs WHERE Code=@Code
END
GO

-- =============================================================================
-- Author: James Drabb
-- Date: 07/02/2012
--
-- Checks if a Code exists in DL_Codes
-- =============================================================================
CREATE PROCEDURE [usp_DL_CheckAdminUser]
	@UserID VARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	
	IF (SELECT UserID FROM DL_Admins WHERE UPPER(UserID) = UPPER(@UserID)) IS NOT NULL
		SELECT 1 AS 'GoodAdmin'
	ELSE
		SELECT 0 AS 'GoodAdmin'
END
GO


-- ***** GRANTS *****
ALTER TABLE [DL_Docs] ADD  CONSTRAINT [DF_DL_Docs_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [QBEWebProvidersAudit] ADD  CONSTRAINT [DF_QBEWebProvidersAudit_AuditDate]  DEFAULT (getdate()) FOR [AuditDate]
GO
GRANT EXECUTE ON [usp_DL_CheckAdminUser] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_CheckCodeForDocuments] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_CheckDocCode] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_DeleteCode] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_DeleteSecurityCode] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_Get063DocsForPublish] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_Get063DocsForPublish_WithDate] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_GetDocCodes] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_GetFilename] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_GetLatestMissedDocsFull] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_GetNotes] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_GetPlanDocsAdded24Hours] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_GetPlanDocsAdded30Days] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_GetPlanDocsLast24Hours] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_InsertAudit] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_InsertDoc] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_InsertDocType] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_InsertSecurityCode] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_RPT_MissedDocs] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_RPT_Published] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_RPT_TodaysDocs] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_SearchAudit] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [usp_DL_UpdateNotes] TO [paiuser] AS [dbo]
GO
GRANT SELECT ON [DL_Admins] TO [paiuser] AS [dbo]
GO
GRANT SELECT ON [DL_Audit] TO [paiuser] AS [dbo]
GO
GRANT SELECT ON [DL_Codes] TO [paiuser] AS [dbo]
GO
GRANT DELETE ON [DL_Docs] TO [paiuser] AS [dbo]
GO
GRANT INSERT ON [DL_Docs] TO [paiuser] AS [dbo]
GO
GRANT REFERENCES ON [DL_Docs] TO [paiuser] AS [dbo]
GO
GRANT SELECT ON [DL_Docs] TO [paiuser] AS [dbo]
GO
GRANT VIEW DEFINITION ON [DL_Docs] TO [paiuser] AS [dbo]
GO
GRANT SELECT ON [DL_Security] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [uf_DL_GetPlanFromAuditNote] TO [paiuser] AS [dbo]
GO
GRANT EXECUTE ON [uf_DL_GetGroupFromAuditNote] TO [paiuser] AS [dbo]
GO
