-- =============================================================================
-- Author: James Drabb
-- Date: 02/13/2013
--
-- Get all documents added today for code 063 that need to be converted to PDF
-- for QicLink Benefits Lookup (old VeriFax).
-- =============================================================================
ALTER PROCEDURE [dbo].[usp_DL_Get063DocsForPublish_WithDate]
	@theDate DATE = null
AS
BEGIN
	SET NOCOUNT ON;
	
	IF @theDate IS NULL
	BEGIN
		SET @theDate = GETDATE()
	END
	
	DECLARE @today VARCHAR(15)
	DECLARE @tomorrow VARCHAR(15)
	
	SET @today = REPLACE(CONVERT(varchar, @theDate, 112), '-', '')
	SET @tomorrow = REPLACE(CONVERT(varchar, DATEADD(day, 1, @theDate), 112), '-', '')
	
	;with qry AS
	(
		SELECT
			[DocID],
			[Code],
			[GroupNo],
			[DateStamp],
			[FullDesc],
			[FileName],
			[RecordDate],
			ROW_NUMBER() OVER (
				PARTITION BY GroupNo, Code, DateStamp, FullDesc ORDER BY [VERSION] DESC
			) AS [row]
		FROM DL_Docs
		WHERE Code = '063'
		AND
		(
			(DateStamp <= @today AND RecordDate >= CONVERT(DATE, @theDate, 110))
			OR
			(DateStamp = @tomorrow)
		)
		AND LOWER(Ext) IN ('rtf', 'pdf')
	)
	SELECT row, [DocID], [Code], [GroupNo], [DateStamp], [RecordDate], [FullDesc], [FileName] FROM qry WHERE row = 1
END
